- var fields = [1,0,0,0,1,0,0,1,0,0,1,1,0,0,1,0,0,1,0,1,0,0,1,1,1]
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
        link(rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="styles/style.css")
        title MineSweeper
    body
        input.layout-change#christmas(type="checkbox")
        label.layout-change(for="christmas") Christmas Time!
        .wrapper
            form.game
                input.action-type#dig(type="radio" name="actionType" checked)
                label.action-type(for="dig") DIG
                input.action-type#mark(type="radio" name="actionType")
                label.action-type(for="mark") MARK
                .board
                    each field, index in fields
                        input.field(id="field" + index, data-info=field == 1 ? 'mine' : 'yay', type="checkbox")
                        input.field(id="mine-field" + index, type="checkbox")
                    each field, index in fields
                        label.field(id="label" + index, data-info=field == 1 ? 'mine' : 'yay', for="field" + index)
                    .loser-screen
                        button(type="reset") Uh... :( One more time?
                    .winner-screen
                        button(type="reset") Yay! One more time!
                    .board-mines
                        each field, index in fields
                            label.field.mark-field(id="mine-label" + index for="mine-field" + index)
                    .game-stats
                        .mines
                        .fields